KolkoKrzyzyk/Connected Services/ServiceKolkoKrzyzyk/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KolkoKrzyzykServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraKolkoKrzyzyk_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IGraKolkoKrzyzyk_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IGraKolkoKrzyzyk_WykonajRuch_InputMessage">
    <wsdl:part name="parameters" element="tns:WykonajRuch" />
  </wsdl:message>
  <wsdl:message name="IGraKolkoKrzyzyk_WykonajRuch_OutputMessage">
    <wsdl:part name="parameters" element="tns:WykonajRuchResponse" />
  </wsdl:message>
  <wsdl:message name="IGraKolkoKrzyzyk_SparwdzWygrana_InputMessage">
    <wsdl:part name="parameters" element="tns:SparwdzWygrana" />
  </wsdl:message>
  <wsdl:message name="IGraKolkoKrzyzyk_SparwdzWygrana_OutputMessage">
    <wsdl:part name="parameters" element="tns:SparwdzWygranaResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraKolkoKrzyzyk">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/Start" message="tns:IGraKolkoKrzyzyk_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/StartResponse" message="tns:IGraKolkoKrzyzyk_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WykonajRuch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/WykonajRuch" message="tns:IGraKolkoKrzyzyk_WykonajRuch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/WykonajRuchResponse" message="tns:IGraKolkoKrzyzyk_WykonajRuch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SparwdzWygrana">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/SparwdzWygrana" message="tns:IGraKolkoKrzyzyk_SparwdzWygrana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraKolkoKrzyzyk/SparwdzWygranaResponse" message="tns:IGraKolkoKrzyzyk_SparwdzWygrana_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraKolkoKrzyzyk" type="tns:IGraKolkoKrzyzyk">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IGraKolkoKrzyzyk/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WykonajRuch">
      <soap:operation soapAction="http://tempuri.org/IGraKolkoKrzyzyk/WykonajRuch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SparwdzWygrana">
      <soap:operation soapAction="http://tempuri.org/IGraKolkoKrzyzyk/SparwdzWygrana" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KolkoKrzyzykServer">
    <wsdl:port name="BasicHttpBinding_IGraKolkoKrzyzyk" binding="tns:BasicHttpBinding_IGraKolkoKrzyzyk">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KolkoKrzyzyk_UslugaWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>