KolkoKrzyzyk/Connected Services/ServiceKolkoKrzyzyk/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WykonajRuch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wiersz" type="xs:int" />
        <xs:element minOccurs="0" name="kolumna" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WykonajRuchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WykonajRuchResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="wierszServer" type="xs:int" />
        <xs:element minOccurs="0" name="kolumnaServer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SparwdzWygrana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wiersz" type="xs:int" />
        <xs:element minOccurs="0" name="kolumna" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SparwdzWygranaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SparwdzWygranaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>