KolkoKrzyzyk/Connected Services/WCFGame/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="col" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="serverRow" type="xs:int" />
        <xs:element minOccurs="0" name="serverCol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckWin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckWinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckWinResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>